*.iml
.gradle
.kotlin/
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
ampere-ios/Podfile.lock
ampere-ios/Pods/*
ampere-ios/ampere-ios.xcworkspace/*
ampere-ios/ampere-ios.xcodeproj/*
!ampere-ios/ampere-ios.xcodeproj/project.pbxproj
ampere-core/ampere-core.podspec
